# =====================
# Environment variables
# =====================
.env
.env.*
BackEnd/.env
FrontEnd/ByeByeExpired/.env

# =====================
# Node / JS
# =====================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =====================
# Expo / React Native
# =====================
.expo/
.expo-shared/
dist/
build/

# =====================
# OS / Editor
# =====================
.DS_Store
.vscode/
.idea/

# =====================
# Python (เผื่อ backend)
# =====================
__pycache__/
*.pyc
.venv/
